<nav >
  <h2>welcome {{username}}</h2>
    <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/invoice" (click)='checkIfUser()'>View Invoice</a>
    <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/invoice" (click)='checkIfAdmin()'>Add Invoice</a>
    <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/invoice" (click)='checkIfSuperadmin()'>Update Invoice</a>
    <a *ngIf="loginService.isUserLoggedIn()" class="nav-link" routerLink="/login">LogOut</a>
</nav>
<br><br>
<div *ngIf='isUser'>
  View Invoice Block
</div>
<div *ngIf='isAdmin'>
  Create Invoice Block
</div>
<div *ngIf='isSuperAdmin'>
  update Invoice Block
</div>